autopep8==1.6.0
click==8.0.3
Flask==2.0.2
Flask-Cors==3.0.10
Flask-MySQLdb==0.2.0
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysqlclient==2.1.0
pep8==1.7.1
pycodestyle==2.8.0
six==1.16.0
SQLAlchemy==1.4.31
toml==0.10.2
Werkzeug==2.0.2
