<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- HEAD -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Holberton AirBnB</title>

    <!-- FAVICON -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}?{{ cache_id }}">

    <!-- **********************
	 CSS styles
	 ********************** -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.css') }}?{{ cache_id }}">
  </head>

  <!-- **********************
       BODY
       ********************** -->

  <body>

    <!-- **********************
	 HEADER
	 ********************** -->

    <header>
    </header>
    <main>
      <div class="container">

	<!-- **********************
	     FILTERS
	     ********************** -->

	<section class="filters">

	  <!-- **********************
	       LOCATIONS
	       ********************** -->

	  <div class="locations">
	    <h3>States</h3>
	    <h4>&nbsp;</h4>
	    <ul class="popover">
	      {% for state in states|dictsort %}
	      <H2>{{ state[0] }}</H2>
	      <UL>
		{% for city in state[1].cities|sort(attribute='name') %}
		<LI>{{ city.name }}</LI>
		{% endfor %}
	      </UL>
	      {% endfor %}
	    </ul>
	  </div>

	  <!-- **********************
	       AMENITIES
	       ********************** -->

	  <div class="amenities">
	    <h3>Amenities</h3>
	    <h4>&nbsp;</h4>
	    <ul class="popover">
	      {% for amenity in amens|sort(attribute='name') %}
	      <LI>{{ amenity.name }}</LI>
	      {% endfor %}
	    </ul>
	  </div>

	  <!-- **********************
	       SEARCH BUTTON
	       ********************** -->

	  <button>Search</button>
	</section>

	<section class="places">
	  <h1>Places</h1>

	<!-- **********************
	     BEGIN 1 PLACE
	     ********************** -->

	  {% for place in places|sort(attribute='name') %}

	  <article>

	    <div class="title">

	      <h2>{{ place.name }}</h2>

	      <div class="price_by_night">

		${{ place.price_by_night }}

	      </div>
	    </div>
	    <div class="information">
	      <div class="max_guest">
		<i class="fa fa-users fa-3x" aria-hidden="true"></i>

		<br />

		{{ place.max_guest }} Guests

	      </div>
	      <div class="number_rooms">
		<i class="fa fa-bed fa-3x" aria-hidden="true"></i>

		<br />

		{{ place.number_rooms }} Bedrooms
	      </div>
	      <div class="number_bathrooms">
		<i class="fa fa-bath fa-3x" aria-hidden="true"></i>

		<br />

		{{ place.number_bathrooms }} Bathroom

	      </div>
	    </div>

	    <!-- **********************
		 USER
		 **********************  -->

	    <div class="user">

	      <strong>Owner: {{ users[place.user_id] }}</strong>

	    </div>
	    <div class="description">

	      {{ place.description }}

	    </div>

	  </article> <!-- End 1 PLACE Article -->

	  {% endfor %}

	</section>
      </div>
    </main>

    <!-- FOOTER -->

    <footer>
      Holberton School
    </footer>
  </body>
</html>
