<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/4-common.css">
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="stylesheet" href="../static/styles/6-filters.css">
    <link rel="stylesheet" href="../static/styles/8-places.css">
    <link rel="icon" href="../static/images/icon.png" type="image/png">
    <title>AirBnb Clone</title>
  </head>
  <body>
    <header>
      <div class="logo">
      </div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
          <h3>States</h3>
	  <h4>&nbsp;</h4>
          <ul class="popover">
	    {% for state in states.values()|sort(attribute='name') %}
            <li>
              <h2>{{ state.name }}</h2>
              <ul>
	      {% for city in state.cities|sort(attribute='name') %}
                <li>{{ city.name }}</li>
	      {% endfor %}
              </ul>
            </li>
	    {% endfor %}
	  </ul>
	</div>
	<div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
	    {% for amty in amenities.values() %}
	    <li>{{ amty.name }}</li>
	    {% endfor %}
          </ul>
	</div>
	<button>
	  Search
	</button>
      </section>
      <section class="places">
	<h1>Places</h1>
	{% for place in places.values()|sort(attribute='name') %}
	<article>
	  <h2>{{ place.name }}</h2>
	  <div class="price_by_night">
	    <p>${{ place.price_by_night }}</p>
	  </div>
	  <div class="information">
	    <div class="max_guest">
	      <div class="guest_image"></div>
	      <p>{{ place.max_guest }}</p>
	    </div>
	    <div class="number_rooms">
	      <div class="bed_image"></div>
	      <p>{{ place.number_rooms }}</p>
	    </div>
	    <div class="number_bathrooms">
	      <div class="bath_image"></div>
	      <p>{{ place.number_bathrooms }}</p>
	    </div>
	  </div>
	  <div class="user">
	    <p><b>Owner: </b>{{ place.user.first_name ~ ' ' ~ place.user.last_name }}</p>
	  </div>
	  <div class="description">
	    {% autoescape false %}
	    <p>{{ place.description }}</p>
	    {% endautoescape %}
	  </div>
	</article>
	{% endfor %}
      </section>
    </div>
    <footer>
      <p>
	Holberton School
      </p>
    </footer>
  </body>
</html>
