header {
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
}

#api_status {
    background-color: #CCCCCC;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 30px;
}

#api_status.available {
    background-color: #FF545F;
}