/*=== === Footer styles === ===*/
footer {
	align-items: center;
	background-color: white;
	bottom: 0;
	display: flex;
	border-top: 1px solid #ccc; /*same as #CCCCCC*/
	height: 60px;
	justify-content: center;
	position: absolute;
	width: 100%;
}
