header {
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

#header_logo {
    width: 142px;
    height: 60px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
	background-position: center;
    margin-left: 20px;
}
