.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    padding: 10px;
}

.locations {
    width: 25%;
    border-right: 1px solid #DDDDDD;
    float: left;
    height: 100%;
    padding-left: 20px;
}

.amenities {
    height: 100%;
    width: 25%;
    float: left;
    padding-left: 30px;
}

h3 {
    color: black;
    font-weight: 600;
}

h4 {
    color: black;
    font-weight: 400;
    line-height: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    border-style: solid;
    color: white;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    position: relative;
    text-align: center;
    margin-top: 11px;
    float: right;
    right: 30px;
    opacity: 1;
}

button:hover {
    opacity: 0.9;
}