.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: inline-block;
}

.locations {
    width: 25%;
    height: 100%;
    float: left;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    widt: 25%;
    height: 100%;
    float: left;
}

h3 {
    color: black;
    font-weight: 600;
    margin-left: 30px;
    line-height: 8px;
}

h4 {
    color: black;
    font-weight: 400;
    line-height: 2px;
    margin-left: 30px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    border-style: solid;
    color: white;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    position: relative;
    text-align: center;
    margin-top: 11px;
    float: right;
    right: 30px;
    opacity: 1;
}

button:hover {
    opacity: 0.9;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 20px;
}

li {
    padding-bottom: 10px;
    text-indent: 40px;
}

.locations:hover .popover {
    display: table-cell;
}

.amenities:hover .popover {
    display: table-cell;
}

.popover {
    margin-top: 6px;
    display: none;
    position: absolute;
    background: #FAFAFA;
    width: 25%;
    color: black;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    float: left;
    padding-bottom: 30px;
}
