global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon
	# SSL configurations
	maxconn 2048
	tune.ssl.default-dh-param 2048

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	option forwardfor
	option http-server-close
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http


#listen backend *:80
#       mode http
#       stats enable
#       stats uri /haproxy?stats
#       server 123-web-01 66.70.187.105:80 check
#       server 123-web-02 142.44.164.125:80 check

frontend www-http
	bind 66.70.187.49:80
	reqadd X-Forwarded-Proto:\ http
	default_backend www-backend

frontend www-https
	bind 66.70.187.49:443 ssl crt /etc/haproxy/certs/cecinestpasun.site.pem
	reqadd X-Forwarded-Proto:\ https
 	acl letsencrypt-acl path_beg /.well-known/acme-challenge
	use_backend letsencrypt-backend if letsencrypt-acl
	default_backend www-backend

backend www-backend
        redirect scheme https if !{ ssl_fc }
	balance roundrobin
	server 123-web-01 66.70.187.105:80 check
	server 123-web-02 142.44.164.125:80 check

backend letsencrypt-backend
	server letsencrypt 127.0.0.1:54321
