<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AirBnB Clone</title>
		<!-- page icon -->
		<link rel="icon" href="images/icon.png" />
		<link rel="stylesheet" href="styles/4-common.css" />
		<link rel="stylesheet" href="styles/3-header.css" />
		<link rel="stylesheet" href="styles/3-footer.css" />
		<link rel="stylesheet" href="styles/6-filters.css" />
	</head>

	<body>
		<header></header>

		<div class="container">
			<section class="filters">
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>

					<div class="popover">
						<ul>
							{#- Loop thru the state #} {% for key, state in
							states | dictsort %}
							<li>
								<b>{{ state.name }}</b>
								<ul>
									{#- Loop thru the cities -#} {% for city in
									id_state.cities|sort(attribute="name") %}
									<li>{{ city.name }}</li>
									{% endfor -%}
								</ul>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for amenity in
						amenities.values()|sort(attribute="name") %}
						<li>{{ amenity.name}}</li>
						{% endfor %}
					</ul>
				</div>
				<button>Search</button>
			</section>
		</div>

		<footer>Best School</footer>
	</body>
</html>
