<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/8-places.css" />
    <link rel="icon" type="image/png" href="../static/images/icon.png" />
    <title>AirBnB clone</title>
  </head>
  <body>
    <header>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>fake content</h4>
	  <ul class="popover">
	    <li><h2>Alabama:</h2>
	      <ul class="small-list">
		<li>City 1</li>
		<li>City 2</li>
	      </ul>
            </li>
	    <li><h2>California:</h2>
	      <ul class="small-list">
		<li>San Francisco</li>
		<li>Los Angeles</li>
	      </ul>
            </li>
	  </ul>
	</div><!-- end locations, used for display-inline
		--><div class="amenities">
	  <h3>Amenities</h3>
	  <h4>fake content</h4>
	  <ul class="popover small-list">
	    <li>Bed</li>
	    <li>Electricity</li>
	    <li>Running water</li>
	  </ul>
	</div> <!-- end amenities -->
	<button>Search</button>
      </section> <!-- end filters -->
      <section class="places">
	<h1>Places</h1>
	<article>
	  <div class="price_by_night">60$</div>
	  <h2>My home: Making a Longer title</h2>
	  <div class="informations">
	    <div class="max_guest">2 guests</div>
	    <div class="number_rooms">1 bedroom</div>
	    <div class="number_bathrooms">1 bathroom</div>
	  </div> <!-- end informations -->
	  <div class="user"><b>Owner</b>: Alpha Beta</div>
	  <div class="description"> Nullam cursus gravida mauris eget congue. Vivamus aliquam, lorem a interdum tincidunt, purus diam elementum libero, id cursus enim nibh et elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.
	  </div>
	</article>
	<article>
	  <div class="price_by_night">85$</div>
	  <h2>Tiny house</h2>
	  <div class="informations">
	    <div class="max_guest">3 guests</div>
	    <div class="number_rooms">2 bedrooms</div>
	    <div class="number_bathrooms">1 bathroom</div>
	  </div> <!-- end informations -->
	  <div class="user"><b>Owner</b>: Gamma Delta</div>
	  <div class="description"> Nullam cursus gravida mauris eget congue. Vivamus aliquam, lorem a interdum tincidunt, purus diam elementum libero, id cursus enim nibh et elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ut felis erat. Maecenas tempus posuere ipsum, sit amet elementum arcu ullamcorper et. Integer condimentum elementum quam, in pulvinar ante pharetra sed. Pellentesque ut risus ut leo viverra malesuada a vestibulum felis.
	  </div>
	</article>
	<article>
	  <div class="price_by_night">140$</div>
	  <h2>A suite</h2>
	  <div class="informations">
	    <div class="max_guest">1 guest</div>
	    <div class="number_rooms">2 bedrooms</div>
	    <div class="number_bathrooms">1 bathroom</div>
	  </div> <!-- end informations -->
	  <div class="user"><b>Owner</b>: Eta Kappa</div>
	  <div class="description"> Nullam cursus gravida mauris eget congue. Vivamus aliquam, lorem a interdum tincidunt, purus diam elementum libero, id cursus enim nibh et elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ut felis erat. Maecenas tempus posuere ipsum, sit amet elementum arcu ullamcorper et. Integer condimentum elementum quam, in pulvinar ante pharetra sed. Pellentesque ut risus ut leo viverra malesuada a vestibulum felis.Donec ut felis erat. Maecenas tempus posuere ipsum, sit amet elementum arcu ullamcorper et. Integer condimentum elementum quam, in pulvinar ante pharetra sed. Pellentesque ut risus ut leo viverra malesuada a vestibulum felis.
	  </div>
	</article>
      </section> <!-- end places -->
    </div> <!-- end container -->
    <footer>
      Holberton School
    </footer>
  </body>
</html>
