<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
    </head>
    <body>
        {#- `states` is the full dictionary containing all states -#}
        {#- `id_state` is the dictionary containing only -#}
        {#- a state whose id was passed #}
        {% if id_state %} {#- if state variable is not null #}
        <H1>State: {{ id_state.name }}</H1>
        <H3>Cities:</H3>
        <ul>
        {#- Loop thru the cities -#}
        {% for city in id_state.cities|sort(attribute="name") %}
            <li>{{ city.id|e }}: <B>{{ city.name|e }}</B></li>
        {% endfor -%}
        </ul>
        {% elif states %} {#- check if states isn't empty #}
        <H1>States</H1>
        <ul>
        {#- Loop thru the state #}
        {#- sort the dict by value, case insensitive #}
        {#- for key, state in states | dictsort(false, 'value') #}
        {% for state in states | sort(attribute="name") %}
            <li>{{ state.id|e }}: <B>{{ state.name|e }}</B></li>
        {% endfor %}
        </ul>
        {% else %}
        <H1>Not found!</H1>
        {% endif %}
    </body>
</html>
